*~
*.o
*.lo
DEADJOE
Makefile
Makefiles
Makefile.in
autom4te.cache
aclocal.m4
config.log
config.cache
config.status
config.sub
config.guess
config.h*
configure
missing
libtool
install-sh
.*.d
beanstalkd
perf
gmon.out
tags
cscope.out
tests/cutcheck*
tests/cutgen
stamp-h1
version.h
