git:
    quiet: true
    depth: 5

language: c

compiler:
    - clang
    - gcc

os:
    - linux
    - osx

before_install:
    - $CC --version
    - export MAKEJOBS="-j$(getconf _NPROCESSORS_ONLN)"
    - export TRAVIS_COMMIT_LOG=`git log --format=fuller -2`
    - export COVFLAGS="-fprofile-arcs -ftest-coverage"
    - export COVERAGE="LDFLAGS='$COVFLAGS' CFLAGS='$COVFLAGS'"
script:
    - make $MAKEJOBS $COVERAGE || ( echo "Build failure. Verbose build follows." && make V=1 ; false )
    - make check $MAKEJOBS $COVERAGE VERBOSE=1

after_script:
    - printf "$TRAVIS_COMMIT_RANGE\n"
    - printf "$TRAVIS_COMMIT_LOG\n"

after_success:
    - if [[ ! -z "${CODECOV_TOKEN}" ]]; then (bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"); fi;
