html {
    background: #f5eda9;
}

a         { color: #31516f; }
a:visited { color: #1c2f40; }

body {
    font: bitstream vera, georgia, times, serif;
    max-width: 40em;
    margin: 4em 1em 3em;
    padding: 3em;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #686e9c;
    padding: 1em 0px 0px;
    clear: both;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    padding: 1em 0px 0px;
    clear: both;
}

img {
    border: 0px;
}

pre {
    background: white;
    padding: 1em;
    border: 1px dashed #31516f;
    font-size: 0.8em;
    overflow:auto;
}

dt {
    font-weight: bold;
}

code {
    font-style: normal;
}

address {
    margin-top: 1em;
}

#nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #31516f;
    color: white;
    padding: 2px 1em 1px;
    border-bottom: 2px solid #1c2f40;
    margin-top: 0;
}

#nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.clear { clear: both; }

#menu {
  background: #b6c3cf;
  padding: 0.3em 0 0.3em 1em;
  font-size: smaller;
  text-align: center;
}
#menu li {
  display: inline;
  margin: 0 1em 0 0;
}
