[Unit]
Description=Beanstalkd is a simple, fast work queue

[Service]
User=nobody
ExecStart=/usr/local/bin/beanstalkd

[Install]
WantedBy=multi-user.target
