<!doctype html>
<html>
<head>
  <title>{{ page.title }} &ndash; beanstalkd &ndash; xph.us</title>
  <link rel=stylesheet href=style.css type=text/css>
</head>
<body>

<header>
  <h1><a href=.>beanstalkd</a></h1>
</header>

{{ content }}

<footer>
  <nav>
    <menu>
      <li><a href=news.html>News</a></li>
      <li><a href=download.html>Download</a></li>
      <li><a href=client.html>Client&nbsp;Libraries</a></li>
      <li><a href=http://wiki.github.com/kr/beanstalkd/wikis/faq>FAQ</a></li>
      <li><a href=http://groups.google.com/group/beanstalk-talk>Mailing&nbsp;list</a></li>
    </menu>
  </nav>

  <address><a href=http://xph.us>Keith Rarick</a>&#8195;<a href=mailto:kr@xph.us>kr@xph.us</a></address>
</footer>

<script src=http://www.google-analytics.com/ga.js type=text/javascript></script>
<script src=/ga.js type=text/javascript></script>
</body>
</html>
