<!doctype html>
<html>
<head>
<title>{{ page.title }} &ndash; beanstalkd &ndash; xph.us</title>
<link rel=stylesheet href=style.css type=text/css>
</head>
<body>

<h1 style=text-align:center><tt>beanstalkd</tt></h1>

<ul id=menu>
<li><a href=.>About</a></li>
<li><a href=news.html>News</a></li>
<li><a href=download.html>Download</a></li>
<li><a href=client.html>Client&nbsp;libraries</a></li>
<li><a href=http://wiki.github.com/kr/beanstalkd/wikis/faq>FAQ</a></li>
<li><a href=http://groups.google.com/group/beanstalk-talk>Mailing&nbsp;list</a></li>
</ul>

{{ content }}

<address>Keith Rarick &lt;kr@xph.us&gt;</address>

<p id=nav><a href=/>xph.us</a> &rarr;
  <a href=/software>software</a> &rarr;
  beanstalkd</p>

<script src=http://www.google-analytics.com/ga.js type=text/javascript></script>
<script src=/ga.js type=text/javascript></script>
</body>
</html>
