---
name: Continuous integration
on:
  push:
    tags:
      - 'v*'
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        run: make check
  build:
    permissions:
      packages: write
      contents: read
    name: Docker build
    runs-on: ubuntu-latest
    needs:
      - tests
    steps:
      - name: Set up Docker Buildx with QEMU
        uses: docker/setup-buildx-action@v3
      - uses: docker/setup-qemu-action@v3
      - uses: actions/checkout@v4
      - name: Convert relevant environment variables
        id: convert
        run: |
          echo "REPO=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "TAG_VERSION=$(echo '${{ github.ref_name }}' | sed 's/^v//')" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ env.REPO }}:latest
            ghcr.io/${{ env.REPO }}:${{ env.TAG_VERSION }}
